@import '~antd/dist/antd.css';

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}
